<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Surya Teja Shetti</h1>
        <h3>Front End Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px">
        <a href="https://www.linkedin.com/in/surya-teja-shetti-4927461aa/" target="_blank">
            <img src="../../assets/linkedin_logo.webp" width="26" height="26" class="rounded-circle me-2" alt="linkedin">
        </a>
        <a href="https://github.com/Surya0191" target="_blank">
            <img src="../../assets/github_logo.webp" width="26" height="26" class="rounded-circle me-2" alt="linkedin">
        </a>
        <a href="https://www.instagram.com/surya_shetti/" target="_blank">
            <img src="../../assets/instagram_logo.webp" width="26" height="26" class="rounded-circle me-2" alt="linkedin">
        </a>
    </div>

</div>