<div class="container text-center">
    <div class="btn btn-primary mb-5 shadow border" (click)="downloadFile()">Download PDF Resume</div>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group #workExperience>
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">.</div>
                    <div class="btn-link">Work Experience</div>
                    <i style="color: white;" class="bi" [ngClass]="{'bi-chevron-down': !workExperience?.isOpen, 'bi-chevron-up': workExperience?.isOpen}"></i>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">Inrhythm Solutions</h3>
                    <ul>
                        <li>Developed dynamic user interfaces for “Dhiva,” a reporting and visualization tool, using Angular, HTML, CSS, and TypeScript.</li>
                        <li>Collaborated with back-end development teams using .NET and integrated front-end solutions, contributing to a 25% reduction in feature delivery time.</li>
                        <li>Automated testing processes using Cypress, which reduced post-release bugs and improved testing efficiency.</li>
                        <li>Actively engaged in Agile Development methodologies, participating in scrum and story grooming meetings.</li>
                        <li>Swiftly identified and resolved high-priority bugs, resulting in a 15% increase in overall product stability.</li>
                        <li>Refactored the existing codebase, optimizing the product’s performance and maintaining scalability.</li>
                        <li>Participated in story grooming, software architecture design, and coding standard discussion meetings.</li>
                    </ul>
                      
                </div>
            </accordion-group>
            <accordion-group #education>
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">.</div>
                    <div class="btn-link">Education</div>
                    <i style="color: white;" class="bi" [ngClass]="{'bi-chevron-down': !education?.isOpen, 'bi-chevron-up': education?.isOpen}"></i>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">M.S in Computer Science</h2>
                    <h3 class="text-primary">University of North Texas</h3>
                    <ul>
                        <li>Aug 2023 - May 2025 | Denton, TX</li>
                        <li>CGPA: 3.77 / 4</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">B.E in Electronics</h2>
                    <h3 class="text-primary">MVSR Engineering College</h3>
                    <ul>
                        <li>Aug 2017 - Aug 2021 | Hyderabad, Ind</li>
                        <li>GPA: 7.59 / 10</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">MPC</h2>
                    <h3 class="text-primary">Narayana Junior College</h3>
                    <ul>
                        <li>Aug 2015 - Aug 2017 | Hyderabad, Ind</li>
                        <li>Percentage: 98</li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group #skills>
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">.</div>
                    <div class="btn-link">Skills</div>
                    <i style="color: white;" class="bi" [ngClass]="{'bi-chevron-down': !skills?.isOpen, 'bi-chevron-up': skills?.isOpen}"></i>
                </button>
                <div class="row" style="text-align: left;">
                <div class="col">
                    <h4>Programming Languages:</h4>
                    <ul>
                        <li>C</li>
                        <li>C#</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Frameworks:</h4>
                    <ul>
                        <li>Angular</li>
                        <li>.Net</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Web Development Techs:</h4>
                    <ul>
                        <li>Javascript</li>
                        <li>TypeScript</li>
                        <li>Bootstrap</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Cypress</li>
                        <li>Postman</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>SW Development Tools:</h4>
                    <ul>
                        <li>Visual Studio</li>
                        <li>Visual Studio Code</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Familiar:</h4>
                    <ul>
                        <li>OOPS</li>
                        <li>Batch Programming</li>
                        <li>CICD</li>
                        <li>Chrome Devtools</li>
                    </ul>
                </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>