<div class="container">
    <div class="row">
        <!-- About me section -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Profile Pic.png" alt="profile pic" width="256px" class="rounded-circle">
                <hr>
                <p>Computer Science Master's student at University of North Texas and skilled as a Front-End Software Developer with 2+ years of experience in building visually appealing interfaces for web application by translating UI/UX design wireframes into actual code using Angular, HTML, CSS, and TypeScript and collaborating with back-end developers for integrations to fulfill user requirements.</p>
            </div>
        </div>
        <!-- Featured Project Section -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.projectName}}</h4>
            </div>

            <carousel>
                <div *ngFor="let image of featuredProject.pictures">
                    <slide>
                        <img src={{image}} alt="slide" style="display: block; width: 100%;">
                    </slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to view more!</p>
        </div>
    </div>
</div>