<div class="container">
    <div class="row">
        <!-- About me section -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Profile Pic.png" alt="profile pic" width="256px" class="rounded-circle">
                <hr>
                <p>I am a UI Developer with 3+ years of experience building responsive and scalable web applications using Angular, TypeScript, HTML5, and CSS3. I have contributed to UI architecture improvements, delivered reusable components, and streamlined testing with Cypress. I also have experience working with C# and .NET for backend integrations. Currently pursuing my Master's in Computer Science at the University of North Texas, I am passionate about creating performant and user-centric applications.

                </p>
            </div>
        </div>
        <!-- Featured Project Section -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.projectName}}</h4>
            </div>

            <carousel>
                <div *ngFor="let image of featuredProject.pictures">
                    <slide>
                        <img src={{image}} alt="slide" style="display: block; width: 100%;">
                    </slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to view more!</p>
        </div>
    </div>
</div>